<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application>
        <!-- BroadcastReceiver that handles alarm events -->
        <receiver
            android:name=".framework.AlarmChimeReceiver"
            android:exported="false"
            android:enabled="true" />
    </application>

</manifest>